<div style="padding:0;width:69px;min-height:69px;" class="cmd #history# tooltips cmd-widget container-fluid" data-type="info" data-subtype="binary" data-cmd_id="#id#" data-cmd_uid="#uid#" title="#collectDate#">
	<div class="row">
		<div class="center-block col-xs-12 h5" style="margin-top:0;">
  			<strong>#name#</strong>
 		 </div>
		<div class="center-block col-xs-12 iconCmd#id#"></div>
		<div class="center-block col-xs-12 h5" style="margin-top:0;">
  			<strong>#logicalId#</strong>
 		 </div>
	</div>
	<script>
		$(".iconCmd#id#").empty();
		if ("#state#" == "1")
			$(".iconCmd#id#").html("<img src='plugins/openalpr/core/template/images/garages.png'/>");
		else
			$(".iconCmd#id#").html("<img src='plugins/openalpr/core/template/images/garages2.png'/>");
		
	</script>
</div>
