<div class="eqLogic eqLogic-widget allowResize" data-eqLogic_id="#id#" data-version="dashboard" style="background-color: #background_color#;height: #height#;width: #width#;#style#;min-height: 80px;min-weight:80px;">
  <span class="statusCmd" style="position : absolute;left : 5px;bottom:0px; width : 30px;z-index: 1030;"></span>
  <center class="widget-name">
   <span style="font-weight:bold;">#name_display#</span>
  </center>
  <center>	
   #cmd#
  </center>
  <center>	
    <span class="cmd cmd-widget" data-type="action" data-subtype="other">
     <a class="camera_history btn btn-default btn-sm folder" data-eqLogic_id="#id#" style="background-color:#cmdColor# !important;border-color : transparent !important;"><i class="fa fa-folder-open"></i></a>
    </span>
  </center>
  	<script>
		$('.camera_history[data-eqLogic_id=#id#]').off().on('click', function () {
			$('#md_modal').dialog({title: "Historique #name#"});
			$('#md_modal').load('index.php?v=d&plugin=openalpr&modal=openalpr.history').dialog('open');
		});	
  </script>
</div>
