<div style="width:69px;height:100%;" class="cmd #history# tooltips" data-type="info" data-subtype="binary" data-cmd_id="#id#" data-cmd_uid="#uid#" title="#collectDate#">
	<center>
		<span style="font-size: 1.1em;" class="iconCmd#uid#"></span>
	</center>

	<script>
		$(".iconCmd#uid#").empty();
		if ("#state#" == "1") {
			$(".iconCmd#uid#").append("<img src='plugins/openalpr/core/template/images/garages.png'>");
		} else {
			$(".iconCmd#uid#").append("<img src='plugins/openalpr/core/template/images/garages2.png'>");
		}
	</script>
</div>